
{% load i18n static bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }} - {% trans 'Login' %}</title>
    <link href="{% static 'authentication/css/signin.css' %}" type="text/css" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form method="post" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'authentication/img/netflix_simple.png' %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">{% trans 'Please sign in' %}</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="id_email" name="email" placeholder="{% trans 'Email address' %}" >
            <label for="id_email">{% trans 'Email address' %}</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="id_password" name="password" placeholder="{% trans 'Password' %}">
            <label for="id_password">{% trans 'Password' %}</label>
        </div>

        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans 'Sign in' %}</button>
        <p class="mt-5 mb-3 text-muted">&copy; {{ copyright }}</p>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</main>

</body>
</html>